<!--<div>-->
  <!--<h1 x-large class="sample-content">Your Content Here</h1>-->

  <!--<hr>-->

  <!--<div>-->
    <!--For hot module reloading run-->
    <!--<pre>npm run start:hmr</pre>-->
  <!--</div>-->

  <!--<hr>-->

  <!--<div>-->
    <!--<h4>Local State</h4>-->

    <!--<form (ngSubmit)="submitState(localState.value)" autocomplete="off">-->

      <!--<input-->
        <!--[value]="localState.value"-->
        <!--(input)="localState.value = $event.target.value"-->
        <!--placeholder="Submit Local State to App State"-->
        <!--autofocus>-->

      <!--<button>Submit Value</button>-->
    <!--</form>-->
    <!--&lt;!&ndash;-->
        <!--<input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>-->
        <!--Rather than wiring up two-way data-binding ourselves with [value] and (input)-->
        <!--we can use Angular's [(ngModel)] syntax-->
        <!--<input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>-->
      <!--&ndash;&gt;-->

    <!--<pre>this.localState = {{ localState | json }}</pre>-->

  <!--</div>-->

<!--</div>-->
<section class="viewport-height flex-column">
  <md-toolbar >
    <section class="vertical-align-center">
      <img class="logo" src="" alt="">
      <span>LOGO</span>
    </section>
    <span class="flex"></span>
    <section class="vertical-align-center">
      <span>User Login</span>
      <button md-button>Log off</button>
    </section>
  </md-toolbar>
  <section>
    <md-toolbar class="gray-bg">
      <section class="vertical-align-center">
        <md-input-container class="full-width">
          <input mdInput placeholder="Name fragment or Date" value="">
        </md-input-container>
        <button md-raised-button>Find</button>
      </section>
      <span class="flex"></span>
      <section class="vertical-align-center">
        <button md-button>Add Course</button>
      </section>
    </md-toolbar>
    <md-card class="card">
      <section>
        <md-card-header>
          <md-card-title>Video Course 1</md-card-title>
          <md-card-subtitle>1h 28min</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </md-card-content>
      </section>
      <md-card-actions>
        <button md-button>Edit Course</button>
        <button md-button>Delete</button>
      </md-card-actions>
    </md-card>
  </section>
  <div class="flex"></div>
  <footer>
    Copyright 2017
  </footer>
</section>